#========================================
# Test profile settings (junit tests)
#========================================
spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///junittest
  jpa:
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          schema-generation:
            script:
              append: false
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: update
            scripts:
              action: create
              create-target: target/database/generated-schema.sql

integration:
  party:
    url: party.url
    token-uri: token.uri
    client-id: the-client-id
    client-secret: the-client-secret
  contract:
    url: contract.url
    token-uri: token.uri
    client-id: the-client-id
    client-secret: the-client-secret
